- if df_h
  .row.card
    .col.s12.no-padding
      .header
        .flow-text Disk
      .col.s12.padding
        - df_h.header.each do |header|
          .col.s2
            b = header
      .col.s12.striped.no-padding
        - df_h.rows.each do |entry|
          .col.s12.entry.relative
            - entry.each do |value|
              small.col.s2 style='z-index:1' = value
            .progress-bar.green style='width: #{entry[4]}'



