- if manifest
  .row
    .col.s12.no-padding.card
      .table-header.flow-text Manifest
      table.display id='manifest#{uuid}'
        thead
          tr
            th Software
            th Version
        tbody
          - manifest.software.each do |key,value|
            tr
              td.center = key
              td.center = value.described_version

  javascript:
    $('#manifest#{uuid}').DataTable({
      "columnDefs": [
        { "width": "50%", "targets": [0,1] }
      ]
    });
      