- if free_m
  .row.card
    .col.s12.no-padding
      .header
        .flow-text Memory
      .col.s12.padding.grey.lighten-1.center
        // Bump Right One col
        .col.col7
        - free_m.first.each do |header|
          .col.col7
            b = header
      .col.s12.striped.no-padding.center
        - free_m[1..-1].each do |entry|
          .col.s12.entry.relative.padding
            - entry.each do |value|
              .col.col7 style='z-index:1' = value
            .progress-bar.green style='width: #{percent(entry[2],entry[1])}%'

