- if netstat
  .row
    .card.col.s12.no-padding
      .table-header.flow-text Netstat
      table.display id='netstat#{uuid}'
        thead
          tr
            - netstat.headers.each do |header|
              th = header
        tbody
          - netstat.rows.each do |row|
            tr
              - row.each do |value|
                td = value

  javascript:
    $('#netstat#{uuid}').DataTable({
      "lengthChange": false,
    });
      