- if processes
  .row
    .col.s12.no-padding.card
      .table-header.flow-text Process
      table.display id='process#{uuid}'
        thead
          tr
            - processes.headers.each do |header|
              th = header
        tbody
          - processes.list.each do |row|
            tr
              - row.values.each do |value|
                td = value

  javascript:
    $('#process#{uuid}').DataTable({
      "lengthChange": false,
      "order": [[ 3, "desc" ]]
    });
      