- if systemctl_unit_files
  .row
    .col.s12.no-padding.card
      .table-header.flow-text
        | Systemctl
      table.display id='systemctl#{uuid}'
        thead
          tr
            th Unit
            th State
        tbody
          - systemctl_unit_files.each do |entry|
            tr
              td = entry.unit
              td.center.white-text class="#{systemctl_color(entry)}"
                = entry.status
      .col.s12.grey.lighten-3
        small
          ul
            li Static: the service is missing the [Install] section in its init script, so you cannot enable or disable it
            li Generated: unit files are not automatically activated by systemd. There's nothing special about them as far as systemd is concerned
            li Masked: systemd also has the ability to mark a unit as completely unstartable. Blocks Startup
  javascript:
    $('#systemctl#{uuid}').DataTable();
  

  // Full Display
  .row
    .card.col.s12.no-padding
      .header
        .flow-text Systemctl Status
      .col.s12.padding
        - systemctl_unit_files.group_by(&:status).each do |key,group|
          - next unless key == 'disabled' || key == 'enabled'
          .row
            .col.s12.center.blue.white-text style='margin-bottom: 5px' = key
            .col.s12.aligner-wrap
              - group.each do |entry|
                .bubble
                  span.green.bubble-left.bubble-right = entry.unit
